body{
    background-image:url("background.jpg");
padding:20px;
}
#myname{
    margin: 0 auto;
    background-color:white;
    text-align: center;
    padding:20px;
    box-shadow:4px 4px 3px black;	
    margin:50px;
	
}
h1{
    text-decoration: underline;
    color:red;
}
h2{
    color:green
}
p{
    font-size:18
}
ul{
   
    list-style-type: none;
}
li{
    float: left;
}
a{
    color: white;

    background-color:white;
    text-align: center;
    color:black;
    border-width:1px;
    border-color:black;
    padding:10px;
    margin:10px;
}
#personalinfo{
    background-color:white;
    border-width:1px;
    border-color:black;
    margin:20px;
    width:600px;
    margin:50px;
    padding:20px;
    text-align: center;
}
